.section_flex{
    gap: 2vw;
    overflow-x: hidden;
}
.service_card{
    width: 100%;
    height: 450px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 3%;
    background-color: #F9F8F6;
    border-bottom: 3px solid var(--primary);
    cursor: pointer;
}
.section_flex:hover .service_card {
    filter: blur(10px);
    transform: scale(0.8);
    opacity: 0.8;
}
.section_flex .service_card:hover {
    filter: blur(0px);
    transform: scale(1.2);
    opacity: 1;
}
    
.service_icon{
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-bottom: 1px solid var(--primary);
}
.service_card p{
    font-size: 40px;
    color: var(--primary);
    text-transform: uppercase;
}
.service_card span{
    margin-top: 40px;
    text-align: center;
    font-size: 23px;
    color: var(--primary);
}

/* phone version */
@media (max-width: 480px) {
    .service_flex_div{
        gap: 5vh
    }
    .service_card{
        padding: 3vh 10vw;
        height: 500px;
    }
    .section_flex .service_card:hover {
        transform: scale(1.1);
    }
  }