.category_button {
   padding: 13px 28px;
   border: unset;
   border-radius: 25px;
   color: var(--primary);
   z-index: 1;
   position: relative;
   font-size: 22px;
   font-weight: 500;
   transition: all 250ms;
   overflow: hidden;
   cursor: pointer;
   border: 1px solid var(--primary);
   background-color: transparent;
   width: 300px

}
.category_flex{
   flex-wrap: wrap;
   margin-top: 20px;
}

.category_button::before {
   content: "";
   position: absolute;
   top: 0;
   left: 0;
   height: 100%;
   width: 0;
   border-radius: 25px;
   background-color: var(--secondary);
   z-index: -1;
   transition: all 250ms
}
.category_button:hover {
   color: var(--primary);
   border-color: var(--primary);
}
.category_button:hover::before {
   width: 100%;
}
.category_active{
   background-color: var(--secondary);
}
.category_card{
   width: 23%;
   height: 500px;
}
.category_card img{
   width: 100%;
   height: 85%;
   object-fit: cover;
   cursor: pointer;
}
.category_card img:hover{
   transform: scale(1.05);
}
.category_card div{
  display: flex;
  justify-content: space-between;
}
.category_button_div{
   margin: -60px auto 150px auto;
   text-align: center;
}

/* phone version */
@media (max-width: 480px) {
   .category_card{
     width: 48%;
   }
   .category_button_div{
      margin: -60px auto 100px auto;
   }
 }