.product_flex{
    display: flex;
}
.product_search{
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
    margin-bottom: 50px;
    margin-top: -50px;
    height: 60px

}
.product_search svg{
    cursor: pointer;
    padding: 10px 0px
}
.product_search div{
    transition: 1s;
    transition-duration: .3s;
    width: 16vw;
    text-align: end;
    border-radius: 25px;
    border: 1px solid var(--primary);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-right: 15px;
}
.product_search input{
    padding: 10px 10px 10px 25px;
    border-radius: 25px;
    font-size: 18px;
    color: var(--primary);
    border: 1px solid transparent;
    outline: none;
}
.product_filter{
    width: 300px;
}
.product_card{
    display: flex;
    flex-wrap: wrap;
    gap: 1.8vw;
    width: 100%
}

/* phone version */
@media (max-width: 480px) {
    .product_flex{
        flex-direction: column;
    }
    .product_search{
        align-items: center;
        justify-content: flex-end;
        width: auto;
        margin-right: 11vw;
    }
    .product_search_icon{
        justify-content: center;
    }
    .product_search div{
        width: auto
    }
 }