:root {
  --primary: #728780;
  --secondary: #F3EFE6;
  --white: #F5F2ED;
  --green: #4B4E57
}
body{
  margin: 0;
  padding: 0;
}
.App {
  color: var(--green);
}
.section_flex{
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  max-width: 100%;
  overflow-y:hidden;
  margin: 150px auto;
}
.section_title{
  color: var(--white);
  font-size: 70px;
  font-weight: 800;
  background-image: url('./Images/brush-green.svg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: 50vw;
}

/* phone version */
@media (max-width: 480px) {
  .section_flex{
    flex-wrap: wrap;
    margin: 100px auto
  }
  .section_title{
    background-size: 150vw;
    font-size: 50px;
  }
}



