body{
  margin: 0;
  padding: 0;
}
.App {
  color: #4B4E57;
}
.section_flex{
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  max-width: 100%;
  overflow-y:hidden;
  margin: 100px auto;
}
.section_title{
  color: #F5F2ED;
  font-size: 70px;
  font-weight: 800;
  background-image: url('./Images/brush-green.svg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: 50vw;
}



