.notfound{
    background-image: url("../../Images/taylor-brandon-d-HOgxTgtZY-unsplash.jpg");
    height: calc(100vh - 100px);
    width: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    align-items: center;
}
.notfound h1{
    color: var(--primary);
    font-size: 70px;
    font-weight: 800;
    width: 40vw;
    background-image: url('../../Images/brush.svg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: 70vw;
    padding: 25px 0px 25px 10vw
}

/* phone version */
@media (max-width: 480px) {
    .notfound h1{
        color: var(--secondary);
        background-image: none;
    }
}